.carousel-item {
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}


@import "~video-react/styles/scss/video-react"; // or import scss


// SELF CAROUSEL
// .slide-container {
//   height: 100vh;
//   width: 100vw;
// }
.slide-container {
  position: fixed;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
}
