.contact-title-container {
  margin-top: 5vh;
  margin-left: 170px;
  color: rgba(0, 0, 0, 0.822);
  font-family: Title;
}
.contact-text-container {
  width: 70vw;
  margin: auto;
  margin-top: 20vh;
  text-align: center;
  font-size: 18px;
  /* padding-bottom: 20vh; */
}
.contact-text-container p {
  margin-top: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 976px) {
  .contact-title-container {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 650px) {
  .contact-title-container {
    text-align: center;
    margin-left: 0;
    margin-top: 10vh;
  }
  .contact-text-container {
    margin-top: 15vh;
    text-align: center;
    margin-top: none;
  }
}