.films-hero {
  height: 250px;
  padding-top: 70px;
  text-align: center;
  font-family: Title;
}
.films-hero h1::after {
  content: '';
  display: block;
  width: 90px;
  margin-top: 40px;
  margin-inline: auto;
  border: 1px solid rgba(0, 0, 0, 0.301);
}
.films-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vw;
  transform: translateY(0);
  transition: transform 2.5s ease-in-out;

  @starting-style {
    transform: translateY(100px);
  }
}

.films-item {
  width: 100vw;
}

.custom-title {
  margin-top: -20px;
  margin-bottom: 10px;
  color: black;
  font-size: 14px;
}
