.footer-sticky {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100vw;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.922);
  color: white;
  text-align: center;
  font-size: 12px;
}
.footer-sticky p {
  padding-inline: 15vw;
}
