.footer-fixed {
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  /* background-color: rgba(0, 0, 0, 0.922); */
  color: white;
  text-align: center;
  font-size: 12px;
}
.footer-fixed p {
  padding-inline: 5vw;
}

@media (max-width: 500px) {
  .footer-fixed {
    font-size: 11px;
  }
  .footer-fixed p {
    padding-inline: 10vw;
  }
}
