.navbar {
  display: none;
  z-index: 100;
  position: sticky;
  width: 100vw;
  top: 0;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  padding-inline: 170px ;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s ease-in-out, opacity 1.3s ease-in-out;

  @starting-style {
    transform: translateY(-12vh);
    opacity: 0;
  }
}


.navbar-logo {
  display: flex;
  align-items: center;
  gap: 7px;
  transition: ease-in-out .9s;
}
.navbar-logo:hover {
  color: rgb(255, 255, 255, 0.726);
}
.navbar-logo p {
  font-family: "Bodoni Moda", serif;
  font-size: 14px;
  padding-top: 4px ;
}
.navbar-logo img {
  width: 33px;
  height: 100%;
}


.navbar-right-side {
  display: flex;
  gap: 30px;
}
.navbar-tabs {
  display: flex;
  gap: 20px;
  /* transform: scale(1);
  animation: tabs-appear  .5s; */
}
.navbar-tabs li {
  color: rgba(255, 255, 255);
}
.navbar-tabs li:hover {
  color: rgb(255, 255, 255, 0.726);
}
/* @keyframes tabs-appear {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
} */

.socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.socials img {
  width: 18px;
  filter: brightness(150%);
}
.socials img:hover {
  filter: brightness(100%);
}
.yt img{
  width: 22px;
}

/* LANGUAGE */
.language-button {
  position: absolute;
  right: 50px;
  align-items: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.838);
}
.dropdown-for-languages {
  position: absolute;
  top: 45px;
  right: -50px;
  width: 170px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.902);
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 0 0 0 8px;
  transform: translateY(-100%);
  opacity: 0;
}
.dropdown-for-languages.open {
  transform: translateY(0%);
  opacity: 1;
  transition: transform .5s ease-in-out, opacity 1s; /* I left the transition here because transition on closing doesn't look good */
}
.dropdown-for-languages img {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.dropdown-for-languages.open img {
  display: inline;
  width: 40px;
  filter: grayscale(20%);
  opacity: 1;
}


/* DROPDOWN */
.nav-dropdown {
  position: relative;
  display: none;
}
.dropdown-menu-open {
  visibility: hidden;
}
.dropdown {
  position: absolute;
  top: 52px;
  right: -40px;
  width: 450px;
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.902);
  transform: translateX(100%);
  transition: transform .5s ease-in-out, opacity .5s ease-in-out, visibility .5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.dropdown.open {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}
.dropdown-tabs {
  text-align: end;
  padding-right: 50px;
  padding-top: 50px;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity .1s ease-in-out;
}
.dropdown-tabs.open {
  opacity: 1
}
.dropdown-tabs li {
  margin-top: 40px;
}
.dropdown-language {
  display: inline-flex;
}


@media only screen and (max-width: 976px) {
  .navbar {
    padding-inline: 70px;
  }
  .navbar-right-side {
    display: none;
  }
  .language-button {
    display: none;
  }
  .nav-dropdown {
    display: block;
    margin-right: -30px;
  }
  .nav-dropdown img {
    width: 30px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 550px) {
  .navbar {
    padding-inline: 40px;
  }
  .nav-dropdown {
    margin-right: 0px;
  }
  .dropdown.open {
    /* right:0; */
  }
}
@media only screen and (max-width:480px) {
  .navbar-logo span {
    display: none;
  }
  .navbar-logo p {
    display: none;
  }
  .dropdown {
    /* right: 0px;  */
    /* added this one for the dropdown to open at the right place on mobile */
  }
}
@media only screen and (max-width: 290px) {
  .navbar {
    padding-inline: 30px;
  }
}
